<div class="ct_middle_cnt">
    <div class="mt-4 mb-5">
        <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap gap-2">
            <h4 class="mb-0 ct_h2 ">Card Templates</h4>
            <button type="button" class="ct_custom_btn w-auto py-2" data-bs-toggle="modal" data-bs-target="#ct_supplier_detail">
                + Add Template
            </button>
        </div>


        <div class="table-responsive ct_custom_table">
            <div id="example_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                <div class="row mt-2 justify-content-between">
                    <div class="col-md-auto me-auto ">
                    </div>
                    
                </div>
                <div class="row mt-2 justify-content-md-center">
                    <div class="col-12 ">
                        <table class="table table-striped dataTable mb-0 w-100" id="example" aria-describedby="example_info"
                            style="width: 1531px;">
                           
                            <thead>
                                <tr role="row">
                                    <th data-dt-column="0" rowspan="1" colspan="1"
                                        class="dt-orderable-asc dt-orderable-desc dt-ordering-asc" aria-sort="ascending"
                                        aria-label="Date: Activate to invert sorting" tabindex="0"><span
                                            class="dt-column-title" role="button">S No.</span><span
                                            class="dt-column-order"></span></th>
                                    <th data-dt-column="1" rowspan="1" colspan="1"
                                        class="dt-orderable-asc dt-orderable-desc"
                                        aria-label="Daily Bible verse/s for this date: Activate to sort" tabindex="0">
                                        <span class="dt-column-title" role="button">Image</span><span
                                            class="dt-column-order"></span>
                                    </th>
                                    <th data-dt-column="2" rowspan="1" colspan="1"
                                        class="dt-orderable-asc dt-orderable-desc" aria-label="Action: Activate to sort"
                                        tabindex="0"><span class="dt-column-title" role="button">Action</span><span
                                            class="dt-column-order"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of data; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <div class="ct_event_img">
                                            <img [src]="'http://52.204.188.107:4000/profile/' + row.image" alt="img">

                                        </div>
                                    </td>
                                    <td>
                                        <button class="ct_action_btn ct_dlt_btn" (click)="deleteTempalte(row.id)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>

                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
                <!-- <div class="row mt-2 justify-content-between">
                    <div class="col-md-auto me-auto ">
                        <div class="dt-info" aria-live="polite" id="example_info" role="status">Showing 1 to 10 of 10
                            entries</div>
                    </div>
                    <div class="col-md-auto ms-auto ">
                        <div class="dt-paging paging_full_numbers">
                            <ul class="pagination">
                                <li class="dt-paging-button page-item disabled"><a class="page-link first"
                                        aria-controls="example" aria-disabled="true" aria-label="First"
                                        data-dt-idx="first" tabindex="-1">«</a></li>
                                <li class="dt-paging-button page-item disabled"><a class="page-link previous"
                                        aria-controls="example" aria-disabled="true" aria-label="Previous"
                                        data-dt-idx="previous" tabindex="-1">‹</a></li>
                                <li class="dt-paging-button page-item active"><a href="#" class="page-link"
                                        aria-controls="example" aria-current="page" data-dt-idx="0" tabindex="0">1</a>
                                </li>
                                <li class="dt-paging-button page-item disabled"><a class="page-link next"
                                        aria-controls="example" aria-disabled="true" aria-label="Next"
                                        data-dt-idx="next" tabindex="-1">›</a></li>
                                <li class="dt-paging-button page-item disabled"><a class="page-link last"
                                        aria-controls="example" aria-disabled="true" aria-label="Last"
                                        data-dt-idx="last" tabindex="-1">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>



<div class="modal fade Committed_Price" id="ct_supplier_detail" tabindex="-1" aria-labelledby="ct_supplier_detailLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body py-5">
                <div class="">
                    <h4 class="mb-5 text-center"><strong>Add New Template</strong></h4>
                    <form>
                        <div class="ct_formField mb-3 form-group">
                            <label for="" class="mb-2 ct_fw_600">Image (Recommended size 1200 * 400)</label>
                            <input type="file" (change)="PreviewImage()" id="exampleInputFile"
                                placeholder="Enter Venue Name" class="form-control"
                                accept="image/png, image/svg+xml, image/gif, image/jpeg">
                            <img class="ct_upload_img_121" src="" alt="" id="uploadPreview">
                        </div>

                      

                        <div class="modal-footer justify-content-center border-0 py-0">
                            <button type="button" class="ct_custom_btn  py-2 w-auto" data-bs-dismiss="modal">Cancel</button>
                            <button type="button ct_" class="ct_custom_btn w-auto py-2" (click)="addFile()">Add
                                Template</button>
                            <button hidden type="button" class="btn btn-secondary w-auto py-2" #closeModal2
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>